body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#tblcolumns {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

#main_content {
}

#grouplist {
    vertical-align: top;
    width: 200px;
    border-right: solid black 1px;
}

#grouplistheader {
    font-size: 16pt;
    font-weight: bold;
    padding: 10px;
}

#grouplistlist {
    border-bottom: solid black 1px;
    margin-bottom: 20px;
}

#grouplistlist a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.grouplistitem {
    border-top: solid black 1px;
    padding: 5px;
}

.grouplist_selected {
    font-weight: bold;
    background-color: #00FFFF;
}


#groupcontents {
    vertical-align: top;
}

#groupcontentsheader {
    font-size: 16pt;
    font-weight: bold;
    padding: 10px;
}

#othercontentsheader {
    font-size: 16pt;
    font-weight: bold;
    padding-bottom: 10px;
}

#postlisting {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 0;
    height: 400px;
    overflow: auto;
    resize: vertical;
}

.post {
    border-bottom: 1px solid black;
    font-size: 10pt;
    cursor: pointer;
}

.posttitle {
    white-space: nowrap;
}

.posttable {
    width: 100%;
    table-layout: fixed;
}

.titlecell {
    /* if this isn't good enough, we'll just set the width manually */
   /* box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; */
}

.metadatauser {
    text-align: left;
}

.metadatatime {
    text-align: left;
}

.clear {
    clear: both;
}

.read {
    color: black;
}

.unread {
    background-color: #FFFFD0;
    font-weight: bold;
}

.newunread {
    background-color: #D0FFD0;
    font-weight: bold;
}

.subunread {
    text-decoration: underline;
}

.hiddenposts {
    display: none;
}

.expander {
    font-family: monospace;
    text-align: center;
    cursor: crosshair;
    background: #CCCCCC;
}

.expander-dummy {
    font-family: monospace;
    text-align: center;
    background: #CCCCCC;
}

.selected {
    background-color: #00FFFF !important;
}

#postview {
    display: none;
    padding: 10px;
    border-top: solid 1px black;
}

#postcontents {
    font-family: monospace;
    padding: 10px;
    max-width: 800px;
}

.quote {
    border-left: solid blue 1px;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

#viewtitle {
    font-size: 12pt;
    font-weight: bold;
}

.newpostbutton {
    margin: 10px;
    float: right;
}

#header {
    background-color: white;
    border-bottom: solid black 1px;
    padding: 10px;
}

#noscript_banner {
    background-color: white;
    border: solid #FF0000 5px;
    margin: 0;
    padding: 10px;
}

.postedit {
    padding: 10px;
}

.posteditsubject {
    border: solid black 1px;
}

.posteditbox {
    font-family: monospace;
    border: solid black 1px;
    resize: vertical;
}

#pager {
    text-align: right;
    font-size: 12pt;
    padding: 10px;
}

#pager a {
    text-decoration: none;
}

#pager_first {
    margin-right: 10px;
}

#pager_prev {
    margin-right: 10px;
}

#pager_number {
    margin-right: 10px;
}

#flash {
    font-weight: bold;
    border: solid blue 2px;
    padding: 20px;
    margin: 20px;
}

.postattr {
    font-weight: bold;
}

.contentpadding {
    padding: 10px;
}
